html,body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; 
}

.grid-container {
	height: 100%;
}

.grid-container > footer, .wrapper > .push {
	height: 50px;
	clear: both;
}