@import url(unsemantic-grid-responsive.css);
@import url(sticky.css);

* { 
	margin: 0;
}
body {
	font-size: 12px;
}
.grid-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.wrapper > header, .grid-container > footer {
	background-color: #CCC;
}
.wrapper > header {
    height: 6em;
    border-radius: 0 0 0.5em 0.5em;
    background-clip: padding-box;
}
.grid-container > footer {
	border-radius: 0.5em 0.5em 0 0;
    background-clip: padding-box;
}
nav > ul.navigation {
	list-style:none;
	font-size:1.5em;
}

/** testing **/
nav > ul.navigation li {
	float:left;
	margin: 0 0 0 0.2em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 0 0 0.25em 0.25em;
}
nav > ul.navigation li a:link, nav > ul.navigation li a:visited, nav > ul.navigation li a:hover
{
	text-decoration:none;
	padding:1em;
}
nav > ul.navigation li a:link, nav > ul.navigation li a:visited {
	color:black;
}
/** 
We generally want the hover and active states to be the same
 **/
nav > ul.navigation li a:hover, nav > ul.navigation li.active a {
	color: white;
}
h2.featured-main-heading {
	margin: 0.5em 0 0.5em 0;
}
.featured-content-item {
	border-radius: 0.5em;
	border:1px solid gray;
	padding:0.5em;
}
.featured-content-item > div > p {
	margin-top:1.5em;
}
img.featured-image {
	width:100%;
}
.align-center {
    text-align: center;
}

